<div class="container">
  <div class="row justify-content-md-center">
      <div class="col border align-self-center" id="selectedProducts" style="max-height: 300px; overflow-y: auto;">
      </div>
    <div class="col-md-10">
          <div class="row">
            <div class="col d-flex justify-content-md-start">
                <div class="form-floating" style="width:130px;">
                  <select name="pageSize" id="pageSize" class="form-select">
                    <option value="3" th:attr="selected=${pageSize == 3}">3</option>
                    <option value="5" th:attr="selected=${pageSize == null || pageSize == 5}">5</option>
                    <option value="10" th:attr="selected=${pageSize == 10}">10</option>
                  </select>
                  <label for="pageSize">ページサイズ</label>
                </div>
            </div>
         </div>
      <div class="d-flex justify-content-md-center" style="margin-top:20px;">
        <div style="width:15%; display: flex; align-items: center;">
          <select class="form-control" id="searchCategory" name="searchCategory">
            <option th:attr="selected=${searchable.searchCategory == null || searchable.searchCategory == 'prodID'}" value="prodID">商品コード</option>
            <option th:attr="selected=${searchable.searchCategory == 'prodName'}" value="prodName">商品名</option>
          </select>
        </div>
        <div style="width:70%; display: flex; align-items: center;">
          <input type="text" class="form-control" id="searchText" name="searchText" th:value="${searchable.searchText}" placeholder="検索語を入力してください">
          <div style="width:80px; display: flex; align-items: center;">
            <button  class="btn btn-primary" style="margin-left: 10px;" th:onclick="movePageSize()">検索</button>
          </div>
        </div>
      </div>
          <table class="table mt-4">
              <thead>
                <tr>
                  <th>商品コード</th>
                  <th>商品名</th>
                  <th>商品単価</th>
                  <th>商品在庫</th>
                  <th>商品追加日</th>
                  <th>備考</th>
                </tr>
              </thead>
              <tbody>
              <th:block th:if="${products == null}">
                <tr>
                  <td colspan="6">該当するデータを見つけられません。検索条件を変更してください。</td>
                </tr>
              </th:block>
              <th:block th:if="${products != null}">
                <th:block th:each="vo : ${products}">
                  <tr>
                    <td th:text="${vo.prodID}"></td>
                    <td th:text="${vo.prodName}"></td>
                    <td th:text="${vo.prodPrice}"></td>
                    <td th:text="${vo.prodStock}"></td>
                    <td><div class="timezone" th:text="${#dates.format(vo.fromDate, 'yyyy-MM-dd')}"></div></td>
                    <td>
                        <a class="btn btn-primary" onclick="addProduct(this)">追加</a>
                    </td>
                  </tr>
                </th:block>
              </th:block>
              </tbody>
          </table>
            <div class="pagination d-flex justify-content-md-center">
              <th:block th:if="${page <= pageInfo.maxPageSize}">
                <ul class="pagination">
                  <li th:if="${canGoToBack}" class="page-item"><a class="page-link"  th:page="${page}" th:onclick="movePrevPage(this.getAttribute('page'))">前へ</a></li>
                  <th:block th:each="num : ${#numbers.sequence(pageInfo.startPageNum, pageInfo.endPageNum)}">
                    <li th:classappend="${num == page} ? 'page-item active' : 'page-item'">
                      <btn class="page-link" th:page="${num}" th:onclick="movePage(this.getAttribute('page'))" th:text="${num + 1}"></btn>
                    </li>
                  </th:block>
                  <li th:if="${canGoToNext}" class="page-item"><a class="page-link" th:page="${page}" th:onclick="moveNextPage(this.getAttribute('page'))" >次へ</a></li>
                </ul>
              </th:block>
            </div>
          </div>
    </div>
</div>
